body
{
	margin: 0px;
	padding-left: 20px;
	background-color: #e1e1e1;
	color:#333;
	font-family: sans-serif;
}
ul 
{
	text-decoration: none;
	list-style: none;

}
li,a{
	text-decoration: none;

	float: left;
}
a:hover{
	text-decoration: none;
	color:#000;
}
a:active{
	text-decoration: none;
	color: #222;
}
.field
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
input
{
	border-width: 1px;
	border-radius: 5px;
	margin-bottom: 8px;
	width: 200px;
	height: 23px;
	font-size: 20px;
	font-family: sans-serif;
	border-color: #e2e2e2;
	
}
p{
	color:red;
}
.page_title
{
	text-align: center;
}
form,.sinup,.field 
{
	margin: 0px auto;
}
.submit
{

}